.contact-div {
  position: relative;
  margin: 20px auto;
  text-align: center;
  padding: 0;
}

#copied {
  position: absolute;
  font-size: 25px;
  color: rgb(0, 173, 0);
  text-align: center;
  left: -110px;
  top: -10px;
  opacity: 0;
}

#copied > .fas {
  margin-right: 5px;
}

@keyframes blink {
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#emailP {
  position: relative;
  display: inline;
}

#email {
  border: 2px dotted rgb(0, 255, 179);
  display: inline-block;
  padding: 10px;
  font-size: 25px;
  font-family: "Jura";
  background-color: white;
  cursor: pointer;
  outline: none;
}

#email:active {
  outline: none;
}

#email:hover {
  background-color: rgba(255, 255, 255, 0.774);
}

#email:active ~ #copied {
  animation: blink 1s normal;
}

.contact-div > a > i {
  padding: 12px;
  font-size: 25px;
  margin-left: 5px;
  border: 2px solid rgb(139, 139, 255);
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  cursor: pointer;
}

.contact-div > a > i:hover {
  background-color: #e34c41;
  color: white;
  border: 2px solid white;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.about-message {
  background-color: rgb(142, 134, 255);
  color: darkred;
  font-family: "Raleway";
  font-size: 24px;
  padding: 10px;
  width: 60%;
  margin: 150px auto;
  text-align: center;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
